* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 25rem;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
}


/* .hovered{
    border: 8px black solid;
    border-style: dashed;
    
}

.hold{
    border: 100px black solid;
}

.invisible{
    display: none;
} */

@media only screen and (min-width: 400px) {
    .boeket > img{
        position: absolute;
        width: 30vw;
    }
    
    .kind > img{
        width: 30vw;
    }

}

@media only screen and (min-width: 615px) {
    .boeket > img{
        width: 20vw;
    }
    
    .kind > img{
        width: 20vw;
    }
}

@media only screen and (min-width: 907px) {
    .boeket > img{
        width: 15vw;
    }
    
    .kind > img{
        width: 15vw;
    }
}

@media only screen and (min-width: 1207px){

    .boeket > img{
        width: 10vw;
    }
    
    .kind > img{
        width: 10vw;
    }

}


